In [23]:
import pandas as pd

student = {
    "name":["mandip","dip","rushal","pandey","dikshit","Dikshit"],
    "age":[22,21,20,21,23,23],
    "score":[85,88,87,95,90,90]
}

print(type(student))

<class 'dict'>

In [24]:
df = pd.DataFrame(student,index=['a','b','c','d','e','f'])
print("<--------------DATA--------------->")
print(df)
print("-"*70)
print(df.loc['a'])

<--------------DATA--------------->
      name  age  score
a   mandip   22     85
b      dip   21     88
c   rushal   20     87
d   pandey   21     95
e  dikshit   23     90
f  Dikshit   23     90
----------------------------------------------------------------------
name     mandip
age          22
score        85
Name: a, dtype: object

In [41]:
#max,min,sum,describe

print("max from whole table:\n")
print(df.max(), "\n")
print("max age from whole table:",df["age"].max())
print("-"*70)



print("minimum value from whole table:")
print(df.min(),"\n")
print("minimum score from whole table: ",df['score'].min())
print("-"*70)


print("whole sum:")
print(df.sum())
print("sum of marks of each student: ", df['score'].sum())
print("-"*70)

max from whole table:

name     rushal
age          23
score        95
dtype: object

max age from whole table: 23
----------------------------------------------------------------------
minimum value from whole table:
name     Dikshit
age           20
score         85
dtype: object

minimum score from whole table:  85
----------------------------------------------------------------------
whole sum:
name     mandipdiprushalpandeydikshitDikshit
age                                      130
score                                    535
dtype: object
sum of marks of each student:  535
----------------------------------------------------------------------