In [ ]:
import pandas as pd

titanic = pd.read_csv("Titanic-Dataset.csv")
print("<-------------------------------------------titanic---------------------------------------------->")
df = pd.DataFrame(titanic)
print(df)

<-------------------------------------------titanic---------------------------------------------->
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
<-------------------------------------------head---------------------------------------------->
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<-------------------------------------------tail---------------------------------------------->
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
<-------------------------------------------head---------------------------------------------->
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
<-------------------------------------------head---------------------------------------------->
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [ ]:
print("<-------------------------------------------head---------------------------------------------->")
print(df.head())
print("<-------------------------------------------tail---------------------------------------------->")
print(df.tail())

<-------------------------------------------head---------------------------------------------->
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<-------------------------------------------tail---------------------------------------------->
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
<-------------------------------------------head---------------------------------------------->
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
<-------------------------------------------head---------------------------------------------->
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [19]:
print("<-------------------------------------------dtypes---------------------------------------------->")
print(df.dtypes)
print("<-------------------------------------------info---------------------------------------------->")
print(df.info())

<-------------------------------------------dtypes---------------------------------------------->
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
<-------------------------------------------info---------------------------------------------->
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [ ]:
#handling specific column 
print("<-------------------------------------------handling specific column---------------------------------------------->")
age = df['Age'].head()
print(age)
print(type(age))
print(age.shape)

print("<-------------------------------------------handling multiple column---------------------------------------------->")
age_sex = titanic[['Age','Sex']].to_string()
print(age_sex)

<-------------------------------------------handling specific column---------------------------------------------->
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64
<class 'pandas.core.series.Series'>
(5,)
<-------------------------------------------handling multiple column---------------------------------------------->
       Age     Sex
0    22.00    male
1    38.00  female
2    26.00  female
3    35.00  female
4    35.00    male
5      NaN    male
6    54.00    male
7     2.00    male
8    27.00  female
9    14.00  female
10    4.00  female
11   58.00  female
12   20.00    male
13   39.00    male
14   14.00  female
15   55.00  female
16    2.00    male
17     NaN    male
18   31.00  female
19     NaN  female
20   35.00    male
21   34.00    male
22   15.00  female
23   28.00    male
24    8.00  female
25   38.00  female
26     NaN    male
27   19.00    male
28     NaN  female
29     NaN    male
30   40.00    male
31     NaN  female
32     NaN  female
33   66.00    male
34   28.00    male
35   42.00    male
36     NaN    male
37   21.00    male
38   18.00  female
39   14.00  female
40   40.00  female
41   27.00  female
42     NaN    male
43    3.00  female
44   19.00  female
45     NaN    male
46     NaN    male
47     NaN  female
48     NaN    male
49   18.00  female
50    7.00    male
51   21.00    male
52   49.00  female
53   29.00  female
54   65.00    male
55     NaN    male
56   21.00  female
57   28.50    male
58    5.00  female
59   11.00    male
60   22.00    male
61   38.00  female
62   45.00    male
63    4.00    male
64     NaN    male
65     NaN    male
66   29.00  female
67   19.00    male
68   17.00  female
69   26.00    male
70   32.00    male
71   16.00  female
72   21.00    male
73   26.00    male
74   32.00    male
75   25.00    male
76     NaN    male
77     NaN    male
78    0.83    male
79   30.00  female
80   22.00    male
81   29.00    male
82     NaN  female
83   28.00    male
84   17.00  female
85   33.00  female
86   16.00    male
87     NaN    male
88   23.00  female
89   24.00    male
90   29.00    male
91   20.00    male
92   46.00    male
93   26.00    male
94   59.00    male
95     NaN    male
96   71.00    male
97   23.00    male
98   34.00  female
99   34.00    male
100  28.00  female
101    NaN    male
102  21.00    male
103  33.00    male
104  37.00    male
105  28.00    male
106  21.00  female
107    NaN    male
108  38.00    male
109    NaN  female
110  47.00    male
111  14.50  female
112  22.00    male
113  20.00  female
114  17.00  female
115  21.00    male
116  70.50    male
117  29.00    male
118  24.00    male
119   2.00  female
120  21.00    male
121    NaN    male
122  32.50    male
123  32.50  female
124  54.00    male
125  12.00    male
126    NaN    male
127  24.00    male
128    NaN  female
129  45.00    male
130  33.00    male
131  20.00    male
132  47.00  female
133  29.00  female
134  25.00    male
135  23.00    male
136  19.00  female
137  37.00    male
138  16.00    male
139  24.00    male
140    NaN  female
141  22.00  female
142  24.00  female
143  19.00    male
144  18.00    male
145  19.00    male
146  27.00    male
147   9.00  female
148  36.50    male
149  42.00    male
150  51.00    male
151  22.00  female
152  55.50    male
153  40.50    male
154    NaN    male
155  51.00    male
156  16.00  female
157  30.00    male
158    NaN    male
159    NaN    male
160  44.00    male
161  40.00  female
162  26.00    male
163  17.00    male
164   1.00    male
165   9.00    male
166    NaN  female
167  45.00  female
168    NaN    male
169  28.00    male
170  61.00    male
171   4.00    male
172   1.00  female
173  21.00    male
174  56.00    male
175  18.00    male
176    NaN    male
177  50.00  female
178  30.00    male
179  36.00    male
180    NaN  female
181    NaN    male
182   9.00    male
183   1.00    male
184   4.00  female
185    NaN    male
186    NaN  female
187  45.00    male
188  40.00    male
189  36.00    male
190  32.00  female
191  19.00    male
192  19.00  female
193   3.00    male
194  44.00  female
195  58.00  female
196    NaN    male
197  42.00    male
198    NaN  female
199  24.00  female
200  28.00    male
201    NaN    male
202  34.00    male
203  45.50    male
204  18.00    male
205   2.00  female
206  32.00    male
207  26.00    male
208  16.00  female
209  40.00    male
210  24.00    male
211  35.00  female
212  22.00    male
213  30.00    male
214    NaN    male
215  31.00  female
216  27.00  female
217  42.00    male
218  32.00  female
219  30.00    male
220  16.00    male
221  27.00    male
222  51.00    male
223    NaN    male
224  38.00    male
225  22.00    male
226  19.00    male
227  20.50    male
228  18.00    male
229    NaN  female
230  35.00  female
231  29.00    male
232  59.00    male
233   5.00  female
234  24.00    male
235    NaN  female
236  44.00    male
237   8.00  female
238  19.00    male
239  33.00    male
240    NaN  female
241    NaN  female
242  29.00    male
243  22.00    male
244  30.00    male
245  44.00    male
246  25.00  female
247  24.00  female
248  37.00    male
249  54.00    male
250    NaN    male
251  29.00  female
252  62.00    male
253  30.00    male
254  41.00  female
255  29.00  female
256    NaN  female
257  30.00  female
258  35.00  female
259  50.00  female
260    NaN    male
261   3.00    male
262  52.00    male
263  40.00    male
264    NaN  female
265  36.00    male
266  16.00    male
267  25.00    male
268  58.00  female
269  35.00  female
270    NaN    male
271  25.00    male
272  41.00  female
273  37.00    male
274    NaN  female
275  63.00  female
276  45.00  female
277    NaN    male
278   7.00    male
279  35.00  female
280  65.00    male
281  28.00    male
282  16.00    male
283  19.00    male
284    NaN    male
285  33.00    male
286  30.00    male
287  22.00    male
288  42.00    male
289  22.00  female
290  26.00  female
291  19.00  female
292  36.00    male
293  24.00  female
294  24.00    male
295    NaN    male
296  23.50    male
297   2.00  female
298    NaN    male
299  50.00  female
300    NaN  female
301    NaN    male
302  19.00    male
303    NaN  female
304    NaN    male
305   0.92    male
306    NaN  female
307  17.00  female
308  30.00    male
309  30.00  female
310  24.00  female
311  18.00  female
312  26.00  female
313  28.00    male
314  43.00    male
315  26.00  female
316  24.00  female
317  54.00    male
318  31.00  female
319  40.00  female
320  22.00    male
321  27.00    male
322  30.00  female
323  22.00  female
324    NaN    male
325  36.00  female
326  61.00    male
327  36.00  female
328  31.00  female
329  16.00  female
330    NaN  female
331  45.50    male
332  38.00    male
333  16.00    male
334    NaN  female
335    NaN    male
336  29.00    male
337  41.00  female
338  45.00    male
339  45.00    male
340   2.00    male
341  24.00  female
342  28.00    male
343  25.00    male
344  36.00    male
345  24.00  female
346  40.00  female
347    NaN  female
348   3.00    male
349  42.00    male
350  23.00    male
351    NaN    male
352  15.00    male
353  25.00    male
354    NaN    male
355  28.00    male
356  22.00  female
357  38.00  female
358    NaN  female
359    NaN  female
360  40.00    male
361  29.00    male
362  45.00  female
363  35.00    male
364    NaN    male
365  30.00    male
366  60.00  female
367    NaN  female
368    NaN  female
369  24.00  female
370  25.00    male
371  18.00    male
372  19.00    male
373  22.00    male
374   3.00  female
375    NaN  female
376  22.00  female
377  27.00    male
378  20.00    male
379  19.00    male
380  42.00  female
381   1.00  female
382  32.00    male
383  35.00  female
384    NaN    male
385  18.00    male
386   1.00    male
387  36.00  female
388    NaN    male
389  17.00  female
390  36.00    male
391  21.00    male
392  28.00    male
393  23.00  female
394  24.00  female
395  22.00    male
396  31.00  female
397  46.00    male
398  23.00    male
399  28.00  female
400  39.00    male
401  26.00    male
402  21.00  female
403  28.00    male
404  20.00  female
405  34.00    male
406  51.00    male
407   3.00    male
408  21.00    male
409    NaN  female
410    NaN    male
411    NaN    male
412  33.00  female
413    NaN    male
414  44.00    male
415    NaN  female
416  34.00  female
417  18.00  female
418  30.00    male
419  10.00  female
420    NaN    male
421  21.00    male
422  29.00    male
423  28.00  female
424  18.00    male
425    NaN    male
426  28.00  female
427  19.00  female
428    NaN    male
429  32.00    male
430  28.00    male
431    NaN  female
432  42.00  female
433  17.00    male
434  50.00    male
435  14.00  female
436  21.00  female
437  24.00  female
438  64.00    male
439  31.00    male
440  45.00  female
441  20.00    male
442  25.00    male
443  28.00  female
444    NaN    male
445   4.00    male
446  13.00  female
447  34.00    male
448   5.00  female
449  52.00    male
450  36.00    male
451    NaN    male
452  30.00    male
453  49.00    male
454    NaN    male
455  29.00    male
456  65.00    male
457    NaN  female
458  50.00  female
459    NaN    male
460  48.00    male
461  34.00    male
462  47.00    male
463  48.00    male
464    NaN    male
465  38.00    male
466    NaN    male
467  56.00    male
468    NaN    male
469   0.75  female
470    NaN    male
471  38.00    male
472  33.00  female
473  23.00  female
474  22.00  female
475    NaN    male
476  34.00    male
477  29.00    male
478  22.00    male
479   2.00  female
480   9.00    male
481    NaN    male
482  50.00    male
483  63.00  female
484  25.00    male
485    NaN  female
486  35.00  female
487  58.00    male
488  30.00    male
489   9.00    male
490    NaN    male
491  21.00    male
492  55.00    male
493  71.00    male
494  21.00    male
495    NaN    male
496  54.00  female
497    NaN    male
498  25.00  female
499  24.00    male
500  17.00    male
501  21.00  female
502    NaN  female
503  37.00  female
504  16.00  female
505  18.00    male
506  33.00  female
507    NaN    male
508  28.00    male
509  26.00    male
510  29.00    male
511    NaN    male
512  36.00    male
513  54.00  female
514  24.00    male
515  47.00    male
516  34.00  female
517    NaN    male
518  36.00  female
519  32.00    male
520  30.00  female
521  22.00    male
522    NaN    male
523  44.00  female
524    NaN    male
525  40.50    male
526  50.00  female
527    NaN    male
528  39.00    male
529  23.00    male
530   2.00  female
531    NaN    male
532  17.00    male
533    NaN  female
534  30.00  female
535   7.00  female
536  45.00    male
537  30.00  female
538    NaN    male
539  22.00  female
540  36.00  female
541   9.00  female
542  11.00  female
543  32.00    male
544  50.00    male
545  64.00    male
546  19.00  female
547    NaN    male
548  33.00    male
549   8.00    male
550  17.00    male
551  27.00    male
552    NaN    male
553  22.00    male
554  22.00  female
555  62.00    male
556  48.00  female
557    NaN    male
558  39.00  female
559  36.00  female
560    NaN    male
561  40.00    male
562  28.00    male
563    NaN    male
564    NaN  female
565  24.00    male
566  19.00    male
567  29.00  female
568    NaN    male
569  32.00    male
570  62.00    male
571  53.00  female
572  36.00    male
573    NaN  female
574  16.00    male
575  19.00    male
576  34.00  female
577  39.00  female
578    NaN  female
579  32.00    male
580  25.00  female
581  39.00  female
582  54.00    male
583  36.00    male
584    NaN    male
585  18.00  female
586  47.00    male
587  60.00    male
588  22.00    male
589    NaN    male
590  35.00    male
591  52.00  female
592  47.00    male
593    NaN  female
594  37.00    male
595  36.00    male
596    NaN  female
597  49.00    male
598    NaN    male
599  49.00    male
600  24.00  female
601    NaN    male
602    NaN    male
603  44.00    male
604  35.00    male
605  36.00    male
606  30.00    male
607  27.00    male
608  22.00  female
609  40.00  female
610  39.00  female
611    NaN    male
612    NaN  female
613    NaN    male
614  35.00    male
615  24.00  female
616  34.00    male
617  26.00  female
618   4.00  female
619  26.00    male
620  27.00    male
621  42.00    male
622  20.00    male
623  21.00    male
624  21.00    male
625  61.00    male
626  57.00    male
627  21.00  female
628  26.00    male
629    NaN    male
630  80.00    male
631  51.00    male
632  32.00    male
633    NaN    male
634   9.00  female
635  28.00  female
636  32.00    male
637  31.00    male
638  41.00  female
639    NaN    male
640  20.00    male
641  24.00  female
642   2.00  female
643    NaN    male
644   0.75  female
645  48.00    male
646  19.00    male
647  56.00    male
648    NaN    male
649  23.00  female
650    NaN    male
651  18.00  female
652  21.00    male
653    NaN  female
654  18.00  female
655  24.00    male
656    NaN    male
657  32.00  female
658  23.00    male
659  58.00    male
660  50.00    male
661  40.00    male
662  47.00    male
663  36.00    male
664  20.00    male
665  32.00    male
666  25.00    male
667    NaN    male
668  43.00    male
669    NaN  female
670  40.00  female
671  31.00    male
672  70.00    male
673  31.00    male
674    NaN    male
675  18.00    male
676  24.50    male
677  18.00  female
678  43.00  female
679  36.00    male
680    NaN  female
681  27.00    male
682  20.00    male
683  14.00    male
684  60.00    male
685  25.00    male
686  14.00    male
687  19.00    male
688  18.00    male
689  15.00  female
690  31.00    male
691   4.00  female
692    NaN    male
693  25.00    male
694  60.00    male
695  52.00    male
696  44.00    male
697    NaN  female
698  49.00    male
699  42.00    male
700  18.00  female
701  35.00    male
702  18.00  female
703  25.00    male
704  26.00    male
705  39.00    male
706  45.00  female
707  42.00    male
708  22.00  female
709    NaN    male
710  24.00  female
711    NaN    male
712  48.00    male
713  29.00    male
714  52.00    male
715  19.00    male
716  38.00  female
717  27.00  female
718    NaN    male
719  33.00    male
720   6.00  female
721  17.00    male
722  34.00    male
723  50.00    male
724  27.00    male
725  20.00    male
726  30.00  female
727    NaN  female
728  25.00    male
729  25.00  female
730  29.00  female
731  11.00    male
732    NaN    male
733  23.00    male
734  23.00    male
735  28.50    male
736  48.00  female
737  35.00    male
738    NaN    male
739    NaN    male
740    NaN    male
741  36.00    male
742  21.00  female
743  24.00    male
744  31.00    male
745  70.00    male
746  16.00    male
747  30.00  female
748  19.00    male
749  31.00    male
750   4.00  female
751   6.00    male
752  33.00    male
753  23.00    male
754  48.00  female
755   0.67    male
756  28.00    male
757  18.00    male
758  34.00    male
759  33.00  female
760    NaN    male
761  41.00    male
762  20.00    male
763  36.00  female
764  16.00    male
765  51.00  female
766    NaN    male
767  30.50  female
768    NaN    male
769  32.00    male
770  24.00    male
771  48.00    male
772  57.00  female
773    NaN    male
774  54.00  female
775  18.00    male
776    NaN    male
777   5.00  female
778    NaN    male
779  43.00  female
780  13.00  female
781  17.00  female
782  29.00    male
783    NaN    male
784  25.00    male
785  25.00    male
786  18.00  female
787   8.00    male
788   1.00    male
789  46.00    male
790    NaN    male
791  16.00    male
792    NaN  female
793    NaN    male
794  25.00    male
795  39.00    male
796  49.00  female
797  31.00  female
798  30.00    male
799  30.00  female
800  34.00    male
801  31.00  female
802  11.00    male
803   0.42    male
804  27.00    male
805  31.00    male
806  39.00    male
807  18.00  female
808  39.00    male
809  33.00  female
810  26.00    male
811  39.00    male
812  35.00    male
813   6.00  female
814  30.50    male
815    NaN    male
816  23.00  female
817  31.00    male
818  43.00    male
819  10.00    male
820  52.00  female
821  27.00    male
822  38.00    male
823  27.00  female
824   2.00    male
825    NaN    male
826    NaN    male
827   1.00    male
828    NaN    male
829  62.00  female
830  15.00  female
831   0.83    male
832    NaN    male
833  23.00    male
834  18.00    male
835  39.00  female
836  21.00    male
837    NaN    male
838  32.00    male
839    NaN    male
840  20.00    male
841  16.00    male
842  30.00  female
843  34.50    male
844  17.00    male
845  42.00    male
846    NaN    male
847  35.00    male
848  28.00    male
849    NaN  female
850   4.00    male
851  74.00    male
852   9.00  female
853  16.00  female
854  44.00  female
855  18.00  female
856  45.00  female
857  51.00    male
858  24.00  female
859    NaN    male
860  41.00    male
861  21.00    male
862  48.00  female
863    NaN  female
864  24.00    male
865  42.00  female
866  27.00  female
867  31.00    male
868    NaN    male
869   4.00    male
870  26.00    male
871  47.00  female
872  33.00    male
873  47.00    male
874  28.00  female
875  15.00  female
876  20.00    male
877  19.00    male
878    NaN    male
879  56.00  female
880  25.00  female
881  33.00    male
882  22.00  female
883  28.00    male
884  25.00    male
885  39.00  female
886  27.00    male
887  19.00  female
888    NaN  female
889  26.00    male
890  32.00    male
<-------------------------------------------compare---------------------------------------------->
0       True
1       True
2       True
3       True
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: Age, Length: 891, dtype: bool

In [31]:
print("<-------------------------------------------compare---------------------------------------------->")
print(df['Age']>20)

print(type(df['Age']))

<-------------------------------------------compare---------------------------------------------->
0       True
1       True
2       True
3       True
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: Age, Length: 891, dtype: bool
<class 'pandas.core.series.Series'>