In [1]:
"""
outliner:

natural outliners
error outliners

mathematical approach of detecting outliners

z = x - mean/sd
"""

'\noutliner:\n\nnatural outliners\nerror outliners\n\nmathematical approach of detecting outliners\n\nz = x - mean/sd\n'

In [2]:
import numpy as np
import pandas as pd

# duplicated value checking

In [3]:
"""the first topic is handling duplicated value:"""

"""
WE CAN CHECK DUPLICATION IN TWO WAYS

WHICH ARE:
FIRST WAY: WHEN THE COLUMN 1 HAS A DUPLICATED VALUE BUT NOT IN COLUMN 2 SO IN THAT CASE IF WE PRINT df.duplicated() than it will return only false
bank1 = {
    "transactional_ID": [101,102,103,101,105], # COLUMN 1
    "amount":[2000,3000,4000,5000,6000] # COLUMN 2

    df = pd.DataFrame(bank)

    print(df.duplicated())

    # this would be wrong and the correct way to do this is below 
}
"""


bank1 = {
    "transactional_ID": [101,102,103,101,105],
    "amount":[2000,3000,4000,5000,6000]
}

df1 = pd.DataFrame(bank1)
print("ORIGINAL DATA: ")
print(df1)

print("-"*60)


print(f"which rows are duplicated in bank1:(checking single column[transational_ID]):")
print(df1['transactional_ID'].duplicated())
print("-"*60)



"""SECOND WAY: ITS EASY BECAUSE HERE THE BOTH COLUMN 1 AND COLUMN 2 BOTH HAVE SAME DUPLICATED VALUE"""



bank2 = {
    "transactional_ID": [101,102,103,101,105],
    "amount":[2000,3000,4000,2000,6000]
}

df2 = pd.DataFrame(bank2)

print("which rows are duplicated in bank2:(checking whole table)")
print(df2.duplicated())
print("-"*60)


print("number of duplicated rows in table for bank1[transational_ID] are: ",df1["transactional_ID"].duplicated().sum())
print("number of duplicated rows in table for bank2 are: ",df2.duplicated().sum())

ORIGINAL DATA:
   transactional_ID  amount
0               101    2000
1               102    3000
2               103    4000
3               101    5000
4               105    6000
------------------------------------------------------------
which rows are duplicated in bank1:(checking single column[transational_ID]):
0    False
1    False
2    False
3     True
4    False
Name: transactional_ID, dtype: bool
------------------------------------------------------------
which rows are duplicated in bank2:(checking whole table)
0    False
1    False
2    False
3     True
4    False
dtype: bool
------------------------------------------------------------
number of duplicated rows in table for bank1[transational_ID] are:  1
number of duplicated rows in table for bank2 are:  1

In [4]:
print(df1.drop_duplicates(subset=['transactional_ID']))

#we can also do  print(df1.drop_duplicates(subset=['transactional_ID', keep='last' or 'first' or False]))

print(df2.drop_duplicates())

# default = print(df2.drop_duplicates(inplace=False))
# modified = print(df2.drop_duplicates(inplace=True)) ----> returns = NONE

   transactional_ID  amount
0               101    2000
1               102    3000
2               103    4000
4               105    6000
   transactional_ID  amount
0               101    2000
1               102    3000
2               103    4000
4               105    6000

# outliners

$$Z = \frac{X - \mu}{\sigma}$$

In [6]:
students = {
    "marks":[86,70,57,56,71,1000]
}

df = pd.DataFrame(students)

student_mean = df['marks'].mean()
student_sd = df['marks'].std()

print(f"student mean: {student_mean:.2f}")
print(f"student sd: {student_sd:.2f}")
print("-"*50)
upper_limit = student_mean + (3 * student_sd)
lower_limit = student_mean - (3 * student_sd)

print(f"upper limit: {upper_limit:.2f}")
print(f"lower limit: {lower_limit:.2f}")



#determining outliner

cleaning_outliner = df[
    (df['marks'] > lower_limit) | 
    (df['marks'] < upper_limit)
    ]

print(cleaning_outliner)

student mean: 223.33
student sd: 380.65
--------------------------------------------------
upper limit: 1365.27
lower limit: -918.60
   marks
0     86
1     70
2     57
3     56
4     71
5   1000

In [ ]:
"""Z SCORE: TELL HOW FAR THE VALUE IS FROM MEAN USING MEAN AND SD Z > 3 IS AN OUTLINER, Z SCORE DEPENDS HEEAVILY ON MEAN """